################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightChangeDetection.DAO/bin/Debug/net6.0
/FlightChangeDetection.DAO/obj
/FlightChangeDetection.Service/bin/Debug/net6.0
/FlightChangeDetection.Service/obj
